@media( max-width: 769px) {
	.slide-enter-active,
	.slide-leave-active {
		transition: all 0.75s ease-out;
	}
	.slide-enter-to {
		position: absolute;
		right: 0;
	}
	.slide-enter-from {
		position: absolute;
		right: 100%;
	}
	.slide-enter,
	.slide-leave-to {
		transform: translateX(-100%);
		transition: all 300ms ease-in 0s;
	}
}